<nav id="post-nav">
    {% if paginator.previous_page %}
        <span class="prev">
            {% if paginator.previous_page == 1 %}
                <a href="{{ "/" | relative_url  }}" title="Previous Page">
                    <span class="arrow">←</span> Newer Posts
                </a>
            {% else %}
                <a href="{{ "/" | relative_url  }}page{{ paginator.previous_page }}/">
                    <span class="arrow">←</span> Newer Posts
                </a>
            {% endif %}
        </span>
    {% endif %}
    {% if paginator.next_page %}
        <span class="next">
            <a href="{{ "/" | relative_url  }}page{{ paginator.next_page }}/">
                Older Posts <span class="arrow">→</span>
            </a>
        </span>
    {% endif %}
</nav>